/*about Raleway - increment by 100 from 100 to 900*/

:root {
  /*couleur principale*/
  --colorOne: #0065fc;

  --background: #f2f2f2;

  --hover: #deebff;

  --filtre: #d9d9d9;
}

/*-_-_-| STYLES GLOBAUX |-_-_-*/
body {
  font-family: raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;

  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
}

h1,
h2 {
  font-size: 22px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 30px;
}

h1 {
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
}

a {
  color: inherit;
  font-weight: inherit;
  cursor: pointer;
}

:focus {
  outline: 0;
}

::placeholder {
  font-size: 18px;
  font-weight: 700;
  opacity: 1; /*<-*/
}

::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 700;
  color: black; /*<-*/
}

.fs-18 {
  font-size: 18px;
  font-weight: 700;
}

/*-_-_-| ENTÊTE |-_-_-*/
/*conteneur principal*/
header {
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-bottom: 70px;
}

/*Booki*/
.logo {
  width: 60px;
  object-fit: contain;
  cursor: pointer;
}

/*conteneur du menu d'entête*/
header ul {
  display: flex;
}

/*entrées du menu d'entête*/
header li {
  display: flex;
  align-items: flex-end;

  height: 60px;
  padding: 0 25px;

  border-top: 2px solid rgba(0, 0, 0, 0);
}

header li:hover {
  font-weight: 500;
  color: var(--colorOne);

  border-top: 2px solid var(--colorOne);
}

/*-_-_-| BARRE DE RECHERCHE |-_-_-*/
/*conteneur principal*/
.search-bar {
  display: flex;

  margin-top: 20px;
}

/*applique des marges intérieures et une hauteur fixe à tous les éléments descendants directs du formulaire*/
.search-bar > * {
  height: 50px;

  padding: 0 18px;
}

/*conteneur îcone épingle*/
.location {
  display: flex;
  align-items: center;

  background-color: var(--background);
  border-radius: 15px 0 0 15px;
}

/*îcone épingle*/
.location i {
  padding: 0;
  height: fit-content;
  font-size: 110%;
}

/*champ de recherche*/
.field-search {
  flex-shrink: 1;
  width: 100%;
  max-width: fit-content;

  border-top: 2px solid var(--background);
  border-bottom: 2px solid var(--background);
}

/*bouton de soumission - rechercher*/
.cta-search {
  color: white;

  background-color: var(--colorOne);
  border-radius: 0 15px 15px 0;

  cursor: pointer;
}

/*bouton de soumission - loupe*/
.cta-search-zoom {
  background-color: var(--colorOne);
  border-radius: 0 15px 15px 0;

  cursor: pointer;
  display: none;
}

.cta-search-zoom i {
  color: white;
}

/*-_-_- FILTRES -_-_-*/
/*conteneur principal*/
.filtres {
  margin: 40px 0;
}

/*conteneur des étiquettes*/
.filtres fieldset {
  display: flex;
  flex-flow: row wrap;
  gap: 22px;
}

.legend {
  float: left; /*<-*/
  align-self: center;
}

.filtre {
  font-size: 17px;
  font-weight: 700;

  padding: 12.5px 0;
  padding-left: 13px; /*<- pour compenser la checkbox cachée*/

  border: 2px solid var(--filtre);
  border-radius: 25px;

  cursor: pointer;

  min-width: fit-content;
}

.filtre:hover {
  background-color: var(--hover);
}

.filtre input[type="checkbox"] {
  visibility: hidden;
}

/*îcones des étiquettes*/
.filtre i {
  font-size: 110%;
  padding-right: 10px;
  color: var(--colorOne);
}

/*-_-_-| INFO |-_-_-*/
.container-info {
  display: flex;
  align-items: center;
  gap: 11px;

  margin-bottom: 40px;
  align-items: baseline;
}

.container-picto-info {
  height: 24px;
  width: 24px;

  display: flex;
  flex-shrink: 0;

  justify-content: center;
  align-items: center;

  border: 1px solid var(--filtre);
  border-radius: 12px;
}

.picto-info {
  font-size: 75%;
  color: var(--colorOne);
}
/*info -e*/

/*-_-_-| HEBERGEMENTS |-_-_-*/
/*conteneur principal des deux sous-sections*/
.hebergements {
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;

  margin-bottom: 60px;
}

/*définit les styles des titres des deux sous-sections "Hébergements"*/
.h-titles {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: fit-content;
  margin-bottom: 0;
}

.h-titles i {
  color: var(--colorOne);
}

/*contrôle les deux divs englobant les articles (tuiles)*/
.container-tiles {
  display: flex;
  flex-flow: row wrap;

  gap: 30px;
}

/*contrôle les divisions englobant les étoiles*/
.stars {
  display: flex;
  flex-flow: row nowrap;
}

/*définit le style des étoiles*/
.star {
  font-size: 75%;
  color: var(--colorOne);
}

.star:last-child {
  font-size: 75%;
  color: var(--background);
}

/*__________Hébergements à ...__________*/
/* conteneur principal de la sous-section*/
.hebergements-list {
  flex: 2 1;
  display: flex;
  flex-flow: column nowrap;

  gap: 30px;

  background-color: var(--background);
  border-radius: 20px;
  padding: 40px;
}

/*leur utilité est sémantique,
  on transvase ces proprités qui devraient être appliquée aux liens
  au-dessus pour pouvoir les rendre effectives.*/
.containers-hl-tiles {
  flex: 1 1 240px;
}

/*contrôle les tuiles de la sous-section "Hébergements à ..."*/
.hl-tiles {
  display: flex;
  flex-flow: column nowrap;

  padding: 5px;

  background-color: white;

  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

  transition: transform 0.3s ease-in-out;
}

/*contrôle les images des tuiles de la sous-section*/
.hl-tiles > :first-child {
  width: 100%;
  height: 125px;

  border-radius: 15px 15px 0 0;

  object-fit: cover;
  margin-bottom: 5px;
  padding: 0;
}

/*contrôle les textes des tuiles de la sous-section*/
.hl-tiles > * {
  padding: 2.5px 15px;
}

.hl-tiles > p {
  font-size: 14px;
}

/*définit le style du bouton "Afficher plus"*/
.hl-button {
  text-align: left;
  cursor: pointer;

  width: fit-content;
}

/*__________Les plus populaires__________*/
/* conteneur principal de l'à côté*/
.hebergements-populaires {
  flex-basis: 420px;

  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  gap: 30px;

  height: fit-content;

  position: sticky;
  top: 40px;

  padding: 40px;

  background-color: var(--background);
  border-radius: 20px;
}

/*leur utilité est sémantique,
  on transvase ces proprités qui devraient être appliquée aux liens
  au-dessus pour pouvoir les rendre effectives.*/
.containers-hp-tiles {
  flex: 1 1 auto;
}

/*contrôle les tuiles de l'à côté "Les plus populaires"*/
.hp-tiles {
  display: flex;
  flex-flow: row nowrap;
  height: 150px;
  padding: 5px;

  background-color: white;
  border-radius: 20px;

  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

  transition: transform 0.3s ease-in-out;
}

/*contrôle les images des tuiles de l'à côté*/
.hp-tiles > :first-child {
  width: 40%;
  flex-shrink: 0;
  border-radius: 15px 0 0 15px;

  object-fit: cover;
  object-position: center;
}

/*contrôle les divs englobant les textes des tuiles*/
.hp-tiles > :nth-child(2) {
  padding: 15px 10px 5px 10px;

  display: flex;
  flex-flow: column nowrap;
  justify-items: flex-start;
  gap: 5px;
}

/*contrôle les paragraphes des tuiles*/
.hp-tiles div p {
  font-size: 14px;
}

.hp-tiles div div {
  margin-top: auto;
}

/*-_-_-| ACTIVITES |-_-_-*/
/*conteneur principal*/
.activites {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  margin-bottom: 60px;
}

/*mesures des articles sémantique*/
.activites article {
  width: 22.5%;
}

/*tuiles de la section*/
.ac-tiles {
  height: 445px;

  display: flex;
  flex-flow: column nowrap;

  background-color: white;
  border-radius: 20px;

  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

  transition: transform 0.3s ease-in-out;
}

/*style des photos de la section "Activités à ..."*/
.ac-tiles > :first-child {
  height: 88%;
  border-radius: 15px 15px 0 0;

  object-fit: cover;
}

.ac-tiles h3 {
  display: flex;
  height: 12%;
  align-items: center;
  padding: 0 15px;
}

/*-_-_-| FOOTER |-_-_-*/
footer {
  height: 225px;
  background-color: var(--background);

  display: flex;
  justify-content: space-evenly;

  padding: 45px 30px;
}

footer > * {
  width: 30%;
}

footer h2 {
  margin-bottom: 20px;
}

footer ul li {
  margin-bottom: 10px;
}

/*-_-_-| INTERACTION TUILES |-_-_-*/
@media screen and (min-width: 992px) {
  .hl-tiles:hover {
    transform: scale(1.05);
  }
  .hp-tiles:hover {
    transform: scale(1.05);
  }
  .ac-tiles:hover {
    transform: scale(1.05);
  }
}

/*-_-_-| TABLETTE |-_-_-*/
@media screen and (max-width: 991px) {
  /*
  .filtre:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  */

  .hebergements {
    flex-flow: row wrap;
  }

  .hebergements-populaires {
    flex-basis: auto;
  }

  .hebergements-populaires > :nth-child(2) {
    flex-wrap: nowrap;
  }

  .containers-hp-tiles {
    width: 30%;
  }

  .hp-tiles div h3 {
    font-size: 14px;
    line-height: 1.1;
  }

  .hp-tiles div p {
    font-size: 13px;
    line-height: 1.1;
  }

  /*__________*/

  .ac-tiles {
    height: 265px;
  }

  .ac-tiles > :first-child {
    height: 80%;
  }

  .ac-tiles > :nth-child(2) {
    height: 20%;
  }
}

/*-_-_-| MOBILE |-_-_-*/
@media screen and (max-width: 767px) {
  body {
    padding: 0;
  }

  header {
    height: 130px;

    flex-flow: column nowrap;
    align-items: center;

    margin-bottom: 70px;
  }

  .padding-x-mobile {
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo {
    margin-top: 20px;
  }

  header li {
    align-items: flex-start;
    justify-content: center;

    height: 45px;
    width: 50vw;

    border-top: unset;
    border-bottom: 2px solid var(--background);
  }

  header li:hover {
    border-top: unset;
    border-bottom: 2px solid var(--colorOne);
  }

  .cta-search {
    display: none;
  }

  .cta-search-zoom {
    background-color: var(--colorOne);
    border-radius: 0 15px 15px 0;

    cursor: pointer;
    display: inline-block;
  }

  .cta-search-zoom i {
    color: white;
  }

  .legend {
    width: 100%;
  }

  .filtre {
    flex: 1 0 40%;
    font-size: 11px;
    height: fit-content;
  }

  /*__________*/

  .hebergements-list {
    background-color: unset;
    padding: 20px;
  }

  .containers-hl-tiles {
    flex: 1 1 100%;
  }

  .hl-button {
    display: none;
  }

  /*__________*/

  .hebergements-populaires {
    padding: 40px 20px;

    position: static;

    border-radius: 0px;
    order: -1;
  }

  .hebergements-populaires > :nth-child(2) {
    flex-wrap: wrap;
  }

  .containers-hp-tiles {
    width: unset;
  }

  .hp-tiles div h3 {
    font-size: 16px;
  }

  .hp-tiles div p {
    font-size: 14px;
  }

  /*__________*/

  .activites {
    flex-flow: column nowrap;
    gap: 30px;
  }

  .activites :first-child {
    margin-bottom: 0;
  }

  .activites article {
    width: 100%;
  }

  .ac-tiles {
    height: 200px;
  }

  /*__________*/

  footer {
    height: fit-content;

    flex-flow: column nowrap;

    padding: 25px;
    gap: 30px;
  }

  footer nav {
    width: 100%;
  }
}
