/*about Raleway - increment by 100 from 100 to 900*/

:root {
  /*main color*/
  --colorOne: #0065fc;
  /*secondary color*/
  --background: #f2f2f2;
  /*hover*/
  --hover: #deebff;
  /*pictos*/
  --filtre: #d9d9d9;
}

/*| reset -start |*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
button,
cite,
code,
del,
dfn,
em,
img,
input,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-family: raleway, sans-serif;
  background-color: unset;
}
/*| reset -end |*/

/*globals styles -s*/
body {
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
}

h1,
h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 25.83px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.78px;
}

p {
  line-height: 18.78px;
}

a {
  color: inherit;
  font-weight: inherit;
  cursor: pointer;
}

.font-18 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
}

:focus {
  outline: 0;
}

::placeholder {
  font-size: 18px;
  font-weight: 700;
  opacity: 1; /*<-*/
}

::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 700;
  color: black; /*<-*/
}
/*globals styles -e*/

/*header -s*/
header {
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-bottom: 70px;
}

#logo {
  width: 60px;
  object-fit: contain;
}

header nav ul {
  display: flex;
}

header nav ul li {
  display: flex;
  align-items: flex-end;

  height: 60px;
  padding: 0 25px;

  border-top: 2px solid rgba(0, 0, 0, 0);
}

header nav ul li:hover {
  font-weight: 500;
  color: var(--colorOne);

  border-top: 2px solid var(--colorOne);
}
/*header -e */

/*baseline -s*/
h1 + p {
  margin-top: 10px;
}
/*baseline -e*/

/*search-bar -s*/
#search-bar {
  display: flex;

  margin-top: 20px;
}

#search-bar * {
  height: 50px;

  padding-left: 18px;
  padding-right: 18px;
}

#location {
  display: flex;
  align-items: center;

  background-color: var(--background);
  border-radius: 15px 0 0 15px;
}

#location i {
  padding: 0;
  height: fit-content;
  font-size: 110%;
}

#field-search {
  border-top: 2px solid var(--background);
  border-bottom: 2px solid var(--background);
}

#cta-search {
  color: white;

  background-color: var(--colorOne);
  border-radius: 0 15px 15px 0;

  cursor: pointer;
}
/*search-bar -e*/

/*filtres -s*/
#filtres {
  margin: 40px 0;
}

#filtres fieldset {
  display: flex;
  flex-flow: row wrap;
  gap: 22px;
}

.legend {
  float: left; /*<-*/
  align-self: center;
}

.filtre {
  font-size: 17px;
  font-weight: 700;

  padding: 12.5px 0px;
  padding-left: 13px; /*<- pour compenser la checkbox */

  border: 2px solid var(--filtre);
  border-radius: 25px;

  cursor: pointer;
}

.filtre:hover {
  background-color: var(--hover);
}

.filtre input[type="checkbox"] {
  visibility: hidden;
}

#filtres i {
  font-size: 110%;
  padding-right: 10px;
  color: var(--colorOne);
}
/*filtres -e*/

/*info -s*/
#container-info {
  display: flex;
  align-items: center;
  gap: 11px;

  margin-bottom: 40px;
}

#container-picto-info {
  height: 24px;
  width: 24px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--filtre);
  border-radius: 12px;
}

#picto-info {
  font-size: 75%;
  color: var(--colorOne);
}
/*info -e*/

/*Hébergements -s*/
#Hebergements {
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;

  margin-bottom: 60px;
}

.H-titles {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.H-titles i {
  color: var(--colorOne);
}

.star {
  font-size: 75%;
  color: var(--background);
}

/*---*/

#Hebergements-list {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 880px;
  gap: 30px;

  background-color: var(--background);
  border-radius: 25px;
  padding: 40px;
}

#Hebergements-list-articles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 30px;
}

#Hebergements-list-articles > * {
  flex: 1 1 240px;

  height: 200px;
}

.HL-tiles {
  width: 100%;
  background-color: white;
  padding: 5px;

  border-radius: 20px;

  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-flow: column nowrap;
  gap: 5px;

  transition: transform 0.3s ease-in-out;
}

.HL-tiles:hover {
  transform: scale(1.1);
}

.HL-tiles > * {
  padding: 2px 0 0 10px;
}

.HL-tiles > :first-child {
  max-height: 115px;
  border-radius: 15px 15px 0 0;

  padding: 0 0 0 0;

  object-fit: cover;
  object-position: center;
}

#HL-button {
  text-align: left;
  cursor: pointer;

  width: fit-content;
}

/*---*/

#Hebergements-populaires {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 420px;
  gap: 30px;

  padding: 40px;

  background-color: var(--background);
  border-radius: 20px;
}

.HP-tiles {
  display: flex;

  width: 346px;
  height: 144px;
  padding: 5px;

  background-color: white;
  border-radius: 20px;

  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

  transition: transform 0.3s ease-in-out;
}

.HP-tiles:hover {
  transform: scale(1.1);
}

.HP-tiles > :first-child {
  width: 40%;
  border-radius: 15px 0 0 15px;

  object-fit: cover;
}

.HP-tiles > :nth-child(2) {
  width: 60%;
  padding: 15px 10px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
/*Hébergements -e*/

/*Activités -s*/
#Activites {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  margin-bottom: 60px;
}

#Activites article {
  width: 22.6%;
}

#Activites h2 {
  width: 100%;
  margin-bottom: 30px;
}

.Ac-tiles {
  height: 445px;

  display: flex;
  flex-flow: column nowrap;

  background-color: white;
  border-radius: 20px;

  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

  transition: transform 0.3s ease-in-out;
}

.Ac-tiles:hover {
  transform: scale(1.1);
}

.Ac-tiles > :first-child {
  min-height: 390px;
  border-radius: 15px 15px 0 0;

  object-fit: cover;
}

.Ac-tiles > :nth-child(2) {
  padding: 20px 15px;
}
/*Activités -e*/

/*footer -s*/
footer {
  height: 225px;
  background-color: var(--background);

  display: flex;
  justify-content: space-evenly;

  padding: 25px;
  padding-top: 45px;
}

footer > * {
  width: 30%;
}

footer h2 {
  padding-bottom: 15px;
}

footer ul li {
  padding-bottom: 10px;
}

/*footer -e*/
